{% extends 'base.html' %}
{% block content %}
    <h1>Add Owner:</h1>
    <p>Add a new owner with the form below:</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}
        {{form.kit_id.label}}{{form.kit_id()}}
        {{form.submit()}}
    </form>
{% endblock %}