<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a href="{{ url_for('index')}}" class="navbar-item nav-link">Home</a>
            <a href="{{ url_for('kittens.add_kit')}}" class="navbar-item nav-link">Add Kitten</a>
            <a href="{{ url_for('kittens.del_kit')}}" class="navbar-item nav-link">Remove Kitten</a>
            <a href="{{ url_for('kittens.list')}}" class="navbar-item nav-link">List of Kittens</a>
            <a href="{{ url_for('owners.add')}}" class="navbar-item nav-link">Add Owner</a>
            {% if current_user.is_authenticated %}
            <p>{{current_user.username}}</p>
                <a href="{{ url_for('users.logout')}}" class="navbar-item nav-link">Logout</a>
            {% else %}
                <a href="{{ url_for('users.login')}}" class="navbar-item nav-link">Login</a>
                <a href="{{ url_for('users.register')}}" class="navbar-item nav-link">Register</a>
            {% endif %}
            <a href="{{ url_for('users.init')}}" class="navbar-item nav-link">Create DB</a>
            <a class="navbar-item nav-link" href="{{ url_for('users.send_mail') }}">Send Mail</a>

        </div>
    </nav>    
    <div class="container">
        {% for mess in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="fade close" data-dismiss='alert' arit-label='Close'>
                    <span aria-hidden="true">&times;</span>
                </button>
                {{mess}}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>