{% extends 'base.html' %}
{% block content %}
    <h1>Have a kitten that needs to be adopted?</h1>
    <p>Add a new puppy to our database!</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name}}
        {{form.submit()}}
    </form>
{% endblock %}