{% extends 'base.html' %}

{% block content %}
    <h1>Did a kiten get adopted?</h1>
    <p>If so: Please fill out their id to remove them from the database</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.id.label}}{{form.id}}
        {{form.submit()}}
    </form>
{% endblock %}