{% extends 'base.html' %}

{% block content %}
    <h1>List of Kittens</h1>
    <ul>
        {% for kit in kittens %}
            <li>{{ kit }}</li>
        {% endfor %}
        
    </ul>
{% endblock %}